container_commands:
 01_collectstatic:
  command: command: "source /opt/python/run/venv/bin/activate && python nanoproblems/manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "nanoproblems.settings"
    PYTHONPATH: "/opt/python/current/app/nanoproblems:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "nanoproblems/nanoproblems/wsgi.py"
