@media screen and (min-width:900px) {
  .jumbotron {
    text-align: left;
  }

  .options {
    text-align: right;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

.options-container {
  margin: 0 0 0 auto;
}

.option-title {
  padding: 0.25em 1em;
}

.option-icon {
  position: relative;
}

.option-icon:after,
.option-icon:before {
  position: absolute;
  transition: all 0.25s ease-in-out;
}

.submit-icon:after {
  content: "\f105";
  transform: translate(-1.4em, -0.9em);
  opacity: 0;
}

.submit-icon:before {
  transform: translate(0, -0.9em);
}

.submit-option:hover .submit-icon:after {
  transform: translate(0, -0.9em);
  opacity: 1;
}

.submit-option:hover .submit-icon:before {
  transform: translate(1em, -0.9em);
  opacity: 0;
}

.option-title, .browse-title {
  font-size: 1.25em;
}

.browse-icon {
  position: relative;
}

.browse-icon:after {
  content: "\f107";
  transform: translate(0, -1.8em);
  opacity: 0;
}

.browse-icon:before {
  transform: translate(0, -0.9em);
}

.browse-option:hover .browse-icon:after {
  transform: translate(0, -0.9em);
  opacity: 1;
}

.browse-option:hover .browse-icon:before {
  transform: translateY(0.4em);
  opacity: 0;
}

.panel:hover {
  cursor: pointer;
  border-color: #294860;
}