@media screen and (min-width: 785px) {
  .jumbotron {
    text-align: left;
  }
  .options-container {
    margin: 0 0 0 auto;
    max-width: 400px;
  }
  .options {
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  .panel:before {
    content: "";
  }
}

.option-title {
  padding: 0.25em 1em;
  font-size: 2rem;
  line-height: 2.25rem;
}

.option-icon {
  position: relative;
}

.option-icon:after,
.option-icon:before {
  position: absolute;
  transition: all 0.25s ease-in-out;
}

.submit-icon:after {
  content: "\f105";
  transform: translate(-1.4em, -0.9em);
  opacity: 0;
}

.submit-icon:before {
  transform: translate(0, -0.9em);
}

.submit-option:hover .submit-icon:after {
  transform: translate(0, -0.9em);
  opacity: 1;
}

.submit-option:hover .submit-icon:before {
  transform: translate(1em, -0.9em);
  opacity: 0;
}

.submit-option:hover .submit-text,
.submit-option:focus .submit-text,
.submit-option:visited .submit-text {
  text-decoration: none;
}

.option-title, .browse-title {
  font-size: 1.25em;
}

.browse-icon {
  position: relative;
}

.browse-icon:after {
  content: "\f107";
  transform: translate(0, -1.8em);
  opacity: 0;
}

.browse-icon:before {
  transform: translate(0, -0.9em);
}

.browse-option:hover .browse-icon:after {
  transform: translate(0, -0.9em);
  opacity: 1;
}

.browse-option:hover .browse-icon:before {
  transform: translateY(0.4em);
  opacity: 0;
}

.filter-section {
  display: inline-block;
  margin: 0 auto 5rem 0;
}

.panel {
  border-top-color: rgba(41, 72, 96, 0.2);
  border-bottom-color: rgba(41, 72, 96, 0.2);
  transition: all 0.2s ease-in-out;
}

.panel:hover {
  border-top-color: rgba(41, 72, 96, 1);
  border-bottom-color: rgba(41, 72, 96, 1);
}

.panel-divider:after {
  left: 0;
  top: -1.25rem;
  font-size: 2.5rem;
  color: rgba(41, 72, 96, 0.3);
  transition: all 0.2s ease-in-out;
}

.panel:hover .panel-divider:after {
  color: rgba(41,72,96,1);
  left: calc(-50% + 2rem);
}

.panel:hover .panel-divider {
  opacity: 1;
}

.problem-title {
  font-size: 1.75rem;
}

.sections {
  margin-top: 2rem;
}

.sections .section:first-child {
  border-right: 1px solid #e9e9e9;
}