<!doctype html>
<html>
<head>
  <title>Nanoproblems</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/login.css" %}"/>
</head>

<body class="text-center">

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nav-brand" style="color:#333;" href="#">Nanoproblems</a>
      </div>


      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-item" href="#getStarted">Login</a></li>
          <li><a class="nav-item" href="#">Share</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="jumbotron">
    <div class="container prop-container">
      <div class="prop-box row">
        <div class="col-xs-12 col-sm-4">
          <h3 class="prop-text">Get practice.</h3>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3 class="prop-text">Collaborate with students.</h3>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3 class="prop-text">Gain experience.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="login-col col-xs-12 col-sm-6">
        <form class="row" action="{% url 'users:login'%}" method="post">
          {% csrf_token %}
          <h3 class="login-text"><span>Sign in</span> with Udacity</h3>
          <input type="image" class="login-img" src="{% static "images/udacity-logo.png" %}" alt="Sign in with Udacity"/>
          <input type="hidden" name="redirect" value ="{{redirect}}" />
        </form>
      </div>
      <div class="about-col col-xs-12 col-sm-6">
        <aside class="about">
          <h3 class="about-title" id="getStarted">Getting Started</h3>
          <p class="about-text">Want to practice your new skills? Gain valuable coding and interview experience by solving curated problems from coaches, subject matter experts, and other students like yourself!</p>
        </aside>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script>
    var lastScrollTop = 0;
    var delta = 5;
    var navbarHeight = $('.header').outerHeight();
    $(function() {
      // smooth scrolling
      $('a[href*=#]:not([href=#])').click(function() {
        if (!($('.nav').hasClass('collapsed'))) {
          $('.nav').addClass('collapsed');
        }
        if (location.pathname.replace(/^\//,'') === this.pathname.replace(/^\//,'') && location.hostname === this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1200);
            return false;
          }
        }
      });
      // static header
      // sets var and checks if user has scrolled
      var didScroll;
      $(window).scroll(function(event){
        didScroll = true;
      });

      // run hasScrolled if didScroll is true
      setInterval(function(){
        if (didScroll){
          hasScrolled();
          didScroll = false;
        }
      }, 250);

      // responds to user scrolling
      // header retract function
      function hasScrolled(){
        var st = $(this).scrollTop();

        if (Math.abs(lastScrollTop - st) <= delta){
          return;
        }
        if (st > lastScrollTop && st > navbarHeight) {
          //scroll down
          $('.header').addClass('header-scrolling');
          $('.intro-list').removeClass('intro-visible');
          $('.button-row').addClass('button-row-enlarged');
        }
        else {
        //scroll up
          if (st + $(window).height() < $(document).height()) {
            $('.header').removeClass('header-scrolling');
            $('.intro-list').addClass('intro-visible');
            $('.button-row').removeClass('button-row-enlarged');

          }
        }
        lastScrollTop = st;
      }

      // menu toggle
      $('.nav-menu-toggle').click(function() {
        $('.nav').toggleClass('collapsed');
      });
    });
  </script>
  <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = 'https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800,300';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>

</body>
</html>

