{% extends "problems/base.html" %}
{% block content %}
  {% load staticfiles %}


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="welcome">
          <span class="nickname"> {{ user.nickname }} : </span> <span class="title">{{ user.nanodegree }} </span>
        </h3>
        {% if current_user == user.email %}
        <a href="{% url 'users:edit' %}">Edit profile</a>
        {% endif %}
      </div>
    </div>


    <div class="row sections">
      <div class="col-xs-12 col-sm-6 section">
      {% if current_user == user.email %}
        <h3 class="section-title">Your problem ideas:</h3>
      {% else %}
        <h3 class="section-title">{{user.nickname}}'s problem ideas:</h3>
      {% endif %}
        <hr class="border-hr">
        {% if problems %}
        <ul class="list-unstyled profile-list">
            {% for problem in problems %}
            <!-- <li><a href="/problems/{{ problem.pk }}/">{{problem.title}}</a></li>
             -->
            <li class="row">
              <div class="col-xs-12">
                <div class="panel profile-item-panel text-left">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <a class="work-link" href="{% url 'problems:problem_detail' problem.id %}">{{problem.title}}</a>
                      </div>
                      <div class="col-xs-12 col-md-6 text-right">
                        <button class="score-button">{{problem.likes}}<i class="fa fa-thumbs-o-up score-icon"></i></button>
                        <button class="score-button">{{problem.dislikes}}<i class="fa fa-thumbs-o-down score-icon"></i></button>
                      </div>
                      <div class="col-xs-12 col-md-6">
                        {{problem.description | safe }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <ul class="list-unstyled">
                          {% for tag in problem.tags.all %}
                              <li class="badge">{{ tag.tag_name }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
          No problem challenges created yet
        {% endif %}
      </div>

      <div class="col-xs-12 col-sm-6 section">
        {% if current_user == user.email %}
        <h3 class="section-title">Your solutions on problems:</h3>
      {% else %}
        <h3 class="section-title">{{user.nickname}}'s solutions on problems:</h3>
      {% endif %}<hr class="border-hr">
        {% if solutions %}
        <ul class="list-unstyled profile-list">
            {% for solution in solutions %}
            <!-- <li><a href="/problems/{{ problem.pk }}/">{{problem.title}}</a></li>
             -->
            <li class="row">
              <div class="col-xs-12">
                <div class="panel profile-item-panel text-left">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <a class="work-link" href="{% url 'problems:show_solution' solution.problem.id solution.id %}">{{solution.problem.title}}</a>
                      </div>
                      <div class="col-xs-12 col-md-6 text-right">
                        <button class="score-button">{{solution.likes}}<i class="fa fa-thumbs-o-up score-icon"></i></button>
                        <button class="score-button">{{solution.dislikes}}<i class="fa fa-thumbs-o-down score-icon"></i></button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
          No problem challenges created yet
        {% endif %}
      </div>
    </div>

    <div class="row sections">
        <div class="col-xs-12 col-sm-6 section">
          {% if current_user == user.email %}
            <h3 class="section-title">Problems you've liked:</h3>
          {% else %}
            <h3 class="section-title">Problems {{user.nickname}} has liked:</h3>
          {% endif %}
          <hr class="border-hr">
          {% if liked_problems %}
          <ul class="list-unstyled profile-list">
              {% for problem in liked_problems %}
              <!-- <li><a href="/problems/{{ problem.pk }}/">{{problem.title}}</a></li>
               -->
              <li class="row">
                <div class="col-xs-12">
                  <div class="panel profile-item-panel text-left">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <a class="work-link" href="{% url 'problems:problem_detail' problem.id %}">{{problem.title}}</a>
                        </div>
                        <div class="col-xs-12 col-md-6 text-right">
                          <button class="score-button">{{problem.likes}}<i class="fa fa-thumbs-o-up score-icon"></i></button>
                          <button class="score-button">{{problem.dislikes}}<i class="fa fa-thumbs-o-down score-icon"></i></button>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          {{problem.description | safe }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <ul class="list-unstyled">
                            {% for tag in problem.tags.all %}
                                <li class="badge">{{ tag.tag_name }}</li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
          </ul>
          {% else %}
            No problem that you've liked yet
          {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6 section">
          {% if current_user == user.email %}
            <h3 class="section-title">Solutions you've liked:</h3>
          {% else %}
            <h3 class="section-title">Solutions {{user.nickname}} has liked:</h3>
          {% endif %}<hr class="border-hr">
          {% if liked_solutions %}
          <ul class="list-unstyled profile-list">
              {% for solution in liked_solutions %}
              <!-- <li><a href="/problems/{{ problem.pk }}/">{{problem.title}}</a></li>
               -->
              <li class="row">
                <div class="col-xs-12">
                  <div class="panel profile-item-panel text-left">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <a class="work-link" href="{% url 'problems:show_solution' solution.problem.id solution.id %}">{{solution.problem.title}}</a>
                        </div>
                        <div class="col-xs-12 col-md-6 text-right">
                          <button class="score-button">{{solution.likes}}<i class="fa fa-thumbs-o-up score-icon"></i></button>
                          <button class="score-button">{{solution.dislikes}}<i class="fa fa-thumbs-o-down score-icon"></i></button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
          </ul>
          {% else %}
            No solutions that you've liked yet
          {% endif %}
        </div>
      </div>
  </div>

{% endblock %}
