<!DOCTYPE html>
<html ng-app="problems">
<head>
  <title>Nanoproblems</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800,300" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/problems.css' %}">
  <link rel="stylesheet" href="{% static 'css/problems-lg.css' %}" media="screen and (min-width:550px)">
</head>

<body class="text-center">

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nav-brand" style="color:#333;" href="{% url 'problems:problems_list' %}">Nanoproblems</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-item" href="{% url 'problems:new_problem' %}">Contribute </a></li>
          <li><a class="nav-item" href="{% url 'problems:problems_list' %}">Browse </a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.nickname }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-item" href="{%url 'users:show' user_key=user.user_key%}">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a class="nav-item" href="{% url 'users:logout' %}">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% block content %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{% static "js/problems.js" %}"></script>

</body>
</html>
