{% extends "problems/base.html" %}
{% block content %}
  {% load staticfiles %}
  <section class="jumbotron-section">
    <div class="container">
      <div class="jumbotron">
        <div class="fluid-container">
          <div class="row">
            <div class="col-xs-12">
            <h2>Create new problem </h2>


  <form method="post" class="form-horizontal" action="{% url 'problems:new_problem' %}">
    {% csrf_token %}
     <div class="form-group pad-top-20">
      <label for="id_title" class="col-md-2 control-label">Title</label>
      <div class="col-md-4">
        <input type="text" name='title' class="form-control" ng-model="title" required>
      </div>
    </div>

    <div class="form-group">
      <label for="id_description" class="col-md-2 control-label">Instructions</label>
      <div class="col-md-4">
        <textarea class="form-control" name='description' rows="3" ng-model="description" placeholder="Instructions and objectives for this problem"required></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="difficulty" class="col-md-2 control-label">Difficulty</label>
      <div class="col-md-4">
        <select class="form-control" name='difficulty' ng-model="difficulty" required>
          <option value="EASY">Easy</option>
          <option value="MEDIUM">Medium</option>
          <option value="HARD">Hard</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="category" class="col-md-2 control-label">Category</label>
      <div class="col-md-4">
        <select class="form-control" name='category' ng-model="category" required>
          <option value="INTERVIEW">Interview</option>
          <option value="CHALLENGE">Challenge</option>
          <option value="QUESTION">Question</option>
          <option value="CONTEST">Contest</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="id_tags" class="col-md-2 control-label">Tags</label>
      <div class="col-md-4">
        <input type="text" name='tags_list' class="form-control" id="id_tags" ng-keydown="checkKeyDown($event)" ng-blur="checkKeyDown($event)" ng-model="searchText" ng-change="search()" placeholder="Tags to help index and search"required>
        <ul class="list-group">
          <li ng-repeat="suggestions in suggestions | limitTo: 3" class="list-group-item" ng-class="{active: selectedIndex === $index}">
            {% verbatim %}
              {{ suggestions }}
            {% endverbatim %}
          </li>
        </ul>
        <div ng-repeat="selectedTag in selectedTags" class="inline">
          {% verbatim %}
            {{ selectedTag }} <a ng-click="removeTag($index)" class="badge">x</a> &nbsp &nbsp
          {% endverbatim %}
        </div>
      </div>
      <div class="col-md-6 gray-text">
        Press ENTER to add a new tag or TAB to autocomplete
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

{% endblock %}
