{% extends "problems/base.html" %}
{% block content %}
  {% load staticfiles %}


  <section class="jumbotron-section">
    <div class="container">
      <div class="jumbotron">
        <div class="fluid-container">
          <div class="row">
            <div class="col-xs-12">
            <h2>Add solution </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="jumbotron-section">
    <div class="container">
      <div class="jumbotron">
        <div class="fluid-container">
          <div class="row">
            <h2 class="section-title">
              {{problem.title}} {% if problem.marked %}<img src="{% static 'images/udacity-logo-small.png' %}">{% endif %}
              </h2>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="problem-description">
                <div class="row">
                  <p>{{problem.description|safe}}</p>
                </div>
                <div class="row">
                  <ul class="list-unstyled">
                    {% for tag in problem.tags.all %}
                        <li class="badge">{{ tag.tag_name }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <form class="container" method="post" action="{% url 'problems:new_solution' problem.id %}">
    {% csrf_token %}
     <div class="form-group row">
      <label for="id_title" class="col-md-2 control-label">Title</label>
      <div class="col-md-4">
        <input name='title' id='id_title' type="text" class="form-control" ng-model="title" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="id_description" class="col-md-2 control-label">Description</label>
      <div class="col-md-4">
        <textarea class="form-control" id="id_description" name="description" rows="3" required></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-offset-2 col-md-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

{% endblock %}


