{% extends "problems/base.html" %}
{% block content %}
  {% load staticfiles %}
  <div class="row pad-top-20">
    <div class="col-md-12">
      <h3>{{problem.title}} {% if problem.marked %}<img src="{% static 'images/udacity-logo-small.png' %}">{% endif %}</h3>
    </div>
  </div>
  <div class="row pad-10">
    <div class="col-md-2">
      {% if user_email == problem.user.email %}
          <a href="">
            <img src="{% static "images/edit-black-1x.png" %}" alt="Edit"/>
          </a>
          Edit
          <a href="">
            <img src="{% static "images/delete-black-1x.png" %}" alt="Delete"/>
          </a>
          Delete
        {% endif %}
      </div>

  {% if markable and problem.marked == None %}
    <div class="col-md-1">
      <div class="text-center">
        <div>
          <a href="{% url 'problems:mark_problem' problem.id%}">
            <img src="{% static "images/udacity-icon.png" %}" alt="Mark"/>
          </a>
        </div>
        Udacious!
      </div>
    </div>
  {% endif %}
  </div>
  <div class='row pad-10'>
    <div class="col-md-2">
      <p>
        Created by:
        <a href="{% url 'users:show' problem.user.user_key %}">
          {{problem.user}}
        </a>
      </p>
      <p>
        Posted: {{problem.posted}}
      </p>
      <p>{{problem.description|safe}}</p>
    </div>
  </div>
  <div class="row pad-10">
    <div class="col-md-2">
      <b>Difficulty</b>
    </div>
    <div class="col-md-10">
      {{ problem.difficulty }}
    </div>
  </div>

  <div class="row pad-10 pad-top-20">
    <div class="col-md-2">
      <b>Tags</b>
    </div>
    <div class="col-md-10">
      <ul class="list-unstyled">
      {% for tag in problem.tags.all %}
          <li class="badge">{{ tag.tag_name }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <hr>
  <div class="col-md-2" ng-controller="VoteController" ng-show="initVote({{problem.id}})">
    <button type='submit' class="btn btn-success" ng-click="postVote(1)">[[likes]]<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
    <button type='submit' class='btn btn-danger' ng-click="postVote(2)">[[dislikes]]<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
  </div>

  <div class="row pad-10">
    <div class="col-md-12">
      <h4>Solutions for this problem</h4>
    </div>
    <div class="col-md-12">
    {% if solutions_list %}
      <ul class="list-unstyled">
       {% for solution in solutions_list %}
       <li>
         <a href="{% url 'problems:show_solution' problem.id solution.id %}">{{solution.title}}, by {{ solution.user.nickname }}</a>

       </li>
       {% endfor %}
     </ul>
    {% else %}
        No solutions yet
    {% endif %}
    </div>
  </div>

  <div class="row pad-10">
    <div class="col-md-12">
      <b><a href="{% url 'problems:new_solution' problem.id %}">Submit your solution</a></b>
    </div>
  </div>
  <hr>
  <form action="{% url 'problems:add_comment_to_problem' problem.id %}" method="post" class="form-horizontal" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_content" class="col-md-2 control-label">Comment</label>
      <div class="col-md-4">
        <textarea class="form-control" id="id_content" name="content" row pad-10s="3" required></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

{% for comment in comments_list %}
  <div class="row pad-10 pad-top-20">
    <div class="col-md-2 text-right">
      <a href="{% url 'users:show' comment.user.user_key %}">
          {{ comment.user.nickname }}
      </a>
      <p>
      {% if comment.user.email == user_email %}
        <a href="{% url 'problems:edit_comment_from_problem' problem.id comment.id %}">Edit</a> | <a href="{% url 'problems:delete_comment_from_problem' problem.id comment.id %}">Delete</a>
      {% endif %}
    </div>
    <div class="col-md-10">
        <p>{{comment.content|safe}}</p>
        <p><em>{{comment.posted}}</em></p>
    </div>
  </div>
{% endfor %}
{% endblock %}
