{% extends "problems/base.html" %}
{% block content %}
  {% load staticfiles %}
  <div class="row pad-10">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-12">
      <h1>More problems to practice!</h1>
   </div>
  </div>

  <div class="row pad-10">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-12">
      Welcome, <a href="{% url 'users:show' user.user_key %}">{{ user.nickname }}</a>
    </div>
  </div>
  <div class="row pad-10">
  <div class="col-md-9">
      {% for problem in latest_problems_list %}
      <div class="panel panel-default">
        <div class="panel-body">
        <a href="{% url 'problems:problem_detail' problem.id%}">{{problem.title}}</a>
       </div>
      </div>
    {% endfor %}
  </div>
  </div>
  <div class="row pad-10">
  <div class="col-md-9">
    <a href="{% url 'problems:new_problem' %}">
      <img src="{% static "images/add-circle-1x.png" %}" alt="Create Problem"/>
      &nbspCreate Problem
    </a>
  </div>
  </div>

{% endblock %}
