<html>
<head>
  <title>Nanoproblems</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bobblehead.css" %}"/>
</head>

<body class="container">
	<div class="row pad-10 margin-top-20 highlight">
		<div class="col-md-12">
      <a href="{% url 'problems:problem_detail' problem.id %}">
        <img src="{% static "images/arrow-back-white-1x.png" %}" alt="Back to Problem"/>
        Back
			</a>
		</div>
	</div>

  <div class="row">
    <div class="col-md-12">
      <h2>{{solution.problem.title}}</h2>
    </div>
  </div>

  <div class="row pad-top-20">
    <div class="col-md-2 text-right">
      <b>Description</b>
    </div>
    <div class="col-md-10">
      {{ solution.description|safe}}
    </div>
  </div>

   <div class="row pad-top-20">
    <div class="col-md-2 text-right">
      <b>Submitted By</b>
    </div>
    <div class="col-md-10">
      <a href="{% url 'users:show' solution.user.user_key %}">
          {{ solution.user.nickname }}
      </a>

    </div>
  </div>

  <form action="{% url 'problems:add_new_comment' problem.id solution.id %}" method="post" class="form-horizontal" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_content" class="col-md-2 control-label">Comment</label>
      <div class="col-md-4">
        <textarea class="form-control" id="id_content" name="content" rows="3" required></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

{% for comment in comments_list %}
  <div class="row pad-top-20">
    <div class="col-md-2 text-right">
      <a href="{% url 'users:show' comment.user.user_key %}">
          {{ comment.user.nickname }}
      </a>
      <p>
      {% if comment.user.email == user_email %}
        <a href="{% url 'problems:edit_comment' problem.id solution.id comment.id %}">Edit</a> | <a href="{% url 'problems:delete_comment' problem.id solution.id comment.id %}">Delete</a>
      {% endif %}
    </div>
    <div class="col-md-10">
        <p>{{comment.content|safe}}</p>
        <p><em>{{comment.posted}}</em></p>
    </div>
  </div>
{% endfor %}

</body>
</html>
